name: CI
on:
  pull_request:
    branches: [master]
    types: [opened, reopened, synchronize]
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  ci:
    name: CI
    needs: [test, lint]
    runs-on: ubuntu-latest
    steps:
      - name: Done
        run: exit 0
  test:
    name: Tests
    strategy:
      fail-fast: false
      matrix:
        postgres: [14, 15, 16]
        runner:
          - ubuntu-22.04
          - buildjet-8vcpu-ubuntu-2204-arm
    runs-on: ${{ matrix.runner }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Build
        run: docker buildx build --build-arg PG_MAJOR=${{ matrix.postgres }} -t test .
      - name: Test
        run: docker run test cargo pgrx test pg${{ matrix.postgres }}
  lint:
    name: Linting (fmt + clippy)
    runs-on: ubuntu-latest
    steps:
      - name: Install rust
        uses: dtolnay/rust-toolchain@1.70.0
        with:
          components: rustfmt, clippy
      - name: Checkout
        uses: actions/checkout@v3
      - name: Format check
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: -- --check
